<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- My CSS -->
    <link rel="stylesheet" href="css/add-products/add-products.css" />

    <!-- Bootstrap 5 CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <title><%= title %></title>
  </head>
  <body>
    <div class="container mt-3">
      <div class="row">
        <div class="col-md-6">
          <h2>Ubah Detail Pemesanan / Pembelian Barang Pada <%= supplier_name %></h2>
          <form method="POST" action="/suppliers/lihat/<%= lihatId %>/detail/<%= detailEdit %>?_method=PUT" autocomplete="off" class="mb-3">
            <!-- Ambil _id -->
            <input type="hidden" name="_id" value="<%= supplier_details._id %>"/>
            <div class="mb-3">
              <label for="product_name" class="form-label">Nama Barang :</label>
              <input
                type="text"
                class="form-control"
                id="product_name"
                name="product_name"
                value="<%= supplier_details.product_name %>"
                required
                autofocus
              />
            </div>
            <div class="mb-3">
              <label for="category" class="form-label">Kategori :</label>
              <input
                type="text"
                class="form-control"
                id="category"
                name="category"
                value="<%= supplier_details.category %>"
                required
                autofocus
              />
            </div>
            <div class="mb-3">
              <label for="qty" class="form-label">Jumlah Penyetokan Barang :</label>
              <input
                type="Number"
                class="form-control"
                id="qty"
                name="qty"
                value="<%= supplier_details.qty %>"
                required
                autofocus
              />
            </div>
            <div class="mb-3">
              <label for="unit" class="form-label">Satuan Barang :</label>
              <select name="unit" id="unit" class="form-select class_unit">
              <option selected><%= supplier_details.unit %></option>
                <% units.forEach(unit => { %>
                  <option><%= unit.unit %></option>
                <% }) %>
              </select>
            </div>
            <div class="mb-3">
              <label for="harga_pokok" class="form-label">Harga Pokok :</label>
              <input
                type="Number"
                class="form-control"
                id="harga_pokok"
                name="harga_pokok"
                value="<%= supplier_details.harga_pokok %>"
                required
                autofocus
              />
            </div>
            <div class="mb-3">
              <label for="harga_jual" class="form-label">Harga Jual Satuan :</label>
              <input
                type="Number"
                class="form-control"
                id="harga_jual"
                name="harga_jual"
                value="<%= supplier_details.harga_jual %>"
                required
                autofocus
              />
            </div>

            <a href="/suppliers/lihat/<%= lihatId %>/detail/<%= detailEdit %>" class="btn btn-danger">Batal</a>
            <button type="submit" class="btn btn-success">
              Simpan
            </button>
          </form>
        </div>
    </div>
  </div>
  </body>
</html>
